In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Preprocessing_V1.csv')

In [4]:
df.shape

(4000, 11)

What is the total number of missing or unknown values in the column Gender?

In [5]:
df['Gender'].isna().sum()

np.int64(0)

In [6]:
df['Gender'].value_counts(dropna=False)

Gender
Female     2366
Male       1627
Unknown       7
Name: count, dtype: int64

In [7]:
unknown_count = df['Gender'].isin(['Unknown', 'unknown', '?']).sum()
unknown_count

np.int64(7)

What is the total number of missing or unknown values in the column GlucoseLevel?

In [8]:
print(df['GlucoseLevel'].unique())

[ 54.6 108.8  64.1 ... 218.9  66.3 168.5]

In [9]:
df['GlucoseLevel'].isna().sum()

np.int64(0)

In [10]:
missing_or_unknown = df['GlucoseLevel'].replace(
    ['Unknown', 'unknown', '?', '', 'NA', 'N/A', 'na', 'null', 'NULL'], 
    np.nan
).isna().sum()

print("Total missing or unknown GlucoseLevel values:", missing_or_unknown)

Total missing or unknown GlucoseLevel values: 0

What is the total number of missing or unknown values in the column LivesIn?

In [11]:
print(df['LivesIn'].unique())

['City' 'Village' 'Unknown']

In [12]:
missing_or_unknown = df['LivesIn'].replace(
    ['Unknown'], 
    np.nan
).isna().sum()

print("Total missing or unknown ", missing_or_unknown)

Total missing or unknown  5

What is the total number of missing or unknown values in the column BMI?

In [13]:
print(df['BMI'].unique())

[35.1 26.7 23.4 27.4 41.6 29.3 37.1 16.1 40.5 15.8 29.9 29.5 40.7 36.6
 31.5  nan 12.1 25.5 22.3 27.1 44.7 26.1 18.8 18.7 24.8 17.  37.6 20.6
 29.  56.2 30.7 25.3 23.  27.2 19.2 31.6 24.6 27.  24.5 18.2 52.  32.3
 42.7 30.  24.3 24.2 25.7 36.7 46.4 48.3 20.9 24.7 23.6 26.5 39.4 18.4
 25.6 25.9 54.6 31.9 14.6 38.7 23.7 27.3 29.2 39.7 30.1 28.1 35.7 14.3
 30.4 22.2 35.  44.5 36.3 25.2 26.6 31.4 36.8 25.8 38.4 43.2 20.4 30.6
 33.8 34.  26.2 29.6 30.2 22.9 38.9 16.3 23.3 25.1 34.1 45.7 37.3 26.4
 40.9 31.1 17.7 27.5 19.9 32.  35.9 32.1 24.9 23.8 18.  20.7 27.7 22.6
 13.1 19.4 28.5 28.8 21.7 19.6 27.8 41.  41.8 35.2 44.4 42.6 15.7 52.8
 23.1 38.5 22.7 18.3 42.3 43.4 51.5 24.  28.7 23.9 37.9 32.6 35.6 34.7
 28.3 33.2 32.5 44.1 34.2 22.  33.3 16.8 35.4 20.1 26.3 37.5 33.1 21.2
 33.  33.6 30.3 26.  34.8 31.8 42.4 25.4 23.2 19.3 27.9 36.1 43.  16.9
 20.5 33.9 28.2 24.1 41.1 32.2 26.8 30.8 22.5 29.7 40.  34.5 28.  37.7
 19.8 28.4 34.3 20.8 16.2 17.5 36.9 19.5 31.7 34.4 29.1 39.3 35.5 21.
 31.  25.  20.3 17.9 36.5 47.5 19.  23.5 38.8 39.5 22.1 30.5 29.4 32.4
 16.7 22.8 16.4 24.4 54.8 19.1 39.2 18.5 28.6 48.2 41.2 20.  34.6 36.4
 29.8 59.7 14.4 28.9 27.6 19.7 32.8 44.8 21.1 16.6 14.9 18.9 17.1 20.2
 33.7 38.2 55.6 21.5 32.9 40.3 18.1 38.6 15.1 41.5 21.9 39.6 42.  13.7
 38.  41.3 35.3 48.6 41.7 21.3 47.6 30.9 61.1 31.3 38.3 37.2 35.8 49.1
 33.5 18.6 44.3 26.9 17.2 31.2 44.  49.8 39.1 39.8 39.9 17.3 22.4 21.4
 40.2 33.4 56.5 37.4 17.4 16.5 21.6 41.4 37.  36.  43.7 13.3 17.8 14.8
 39.  40.8 48.4 43.8 63.6 36.2 42.5 40.1 43.9 15.4 13.2 43.5 58.7 14.
 46.8 43.6 37.8 46.3 45.4 15.2 17.6 32.7 46.1 42.1 58.5 45.9 41.9 50.7
 54.  21.8 47.  66.1 45.3 34.9 42.2 55.7 55.1 45.1 52.7 16.  54.2 40.6
 49.9 13.8 53.4 46.9 55.8 45.6 43.3 15.3 77.9 47.3 38.1 57.9 53.6  9.6
 15.5 49.2 45.  49.5 12.8 62.6 43.1 12.2 56.8 45.2 51.9 52.1 62.5 47.8
 51.3 45.5 10.9 47.4 49.7 49.4 48.  50.8 52.4 45.8 97.  13.6 48.9 57.3
 14.5 40.4 47.9 50.5 12.6 14.1 57.4 42.8 49.3 46.2 48.7 58.4 53.3 55.
 46.5 53.1 51.8 50.3 53.9 58.1 13.  52.2 15.9 13.9 51.  51.4 57.6 46.7
 53.  15.  14.7]

In [14]:
unknown = df['BMI'].replace(['nan'], np.nan).isna().sum()
print(unknown)

149

In [15]:
df['BMI'].isna().sum()

np.int64(149)

What is the total number of missing or unknown values in the column SmokingStatus?

In [17]:
print(df['SmokingStatus'].unique())

['never smoked' 'smokes' 'Unknown' 'formerly smoked']

In [19]:
value = df['SmokingStatus'].replace(['Unknown'], np.nan).isna().sum()
print(value)

1204

What is the mean value of the BMI in the dataset? Ignore the missing values if any.

In [20]:
df['BMI'].mean()

np.float64(28.857958971695663)

How many people live in city, smoked at least once in life and had a heartattack? Ignore records/rows with any missing values.

In [24]:
print(df['SmokingStatus'].unique())
print(df['HeartAttack'].unique())
print(df['LivesIn'].unique())

['never smoked' 'smokes' 'Unknown' 'formerly smoked']
['No' 'Yes']
['City' 'Village' 'Unknown']

In [27]:
cond = df[(df['LivesIn'] == 'City')&(df['HeartAttack'] == 'Yes')&(df['SmokingStatus'].isin(['smokes', 'formerly smoked']))]
count = cond.shape[0]
print(count)

52

In [29]:
df_clean = df.dropna()

# A: female, no tension, no heart disease, never married
A = df_clean[
    (df_clean["Gender"] == "Female") &
    (df_clean["HasTension"] == "No") &
    (df_clean["HeartAttack"] == "No") &
    (df_clean["NeverMarried"] == "Yes")
].shape[0]

# B: female, no tension, no heart disease, married or previously married
B = df_clean[
    (df_clean["Gender"] == "Female") &
    (df_clean["HasTension"] == "No") &
    (df_clean["HeartAttack"] == "No") &
    (df_clean["NeverMarried"] == "No")
].shape[0]

# C: male, no tension, no heart disease, never married
C = df_clean[
    (df_clean["Gender"] == "Male") &
    (df_clean["HasTension"] == "No") &
    (df_clean["HeartAttack"] == "No") &
    (df_clean["NeverMarried"] == "Yes")
].shape[0]

# D: male, tension = yes, heart attack = yes, never married
D = df_clean[
    (df_clean["Gender"] == "Male") &
    (df_clean["HasTension"] == "Yes") &
    (df_clean["HeartAttack"] == "Yes") &
    (df_clean["NeverMarried"] == "Yes")
].shape[0]

A, B, C, D

(1295, 732, 799, 18)