Data preproccessing

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Copy of V1 (pre).csv")

How many total number of rows and columns are there in the dataset?

In [4]:
df.shape

(20000, 15)

Is there any Missing values in the given dataset ?

In [6]:
df.isnull().sum().sum()

np.int64(0)

Check all " ?" symbol in the dataset and replace it with "np.nan" value . Which of the columns in the dataset have null values?

In [8]:
df.replace("?", np.nan)
df.isnull().any()

age               False
workclass         False
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country    False
IncomeGroup       False
dtype: bool