In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Week1_GA_dataset.csv')

In [7]:
df.shape

(10000, 12)

In [19]:
df.replace('?', np.nan, inplace=True)
total_unknown = df.isna().sum().sum()
print(total_unknown)

5548

In [20]:
value = df.iloc[692,0]
print(value)

2009-11-16

In [21]:
value1 = df.iloc[546,7]
print(value1)

3

In [24]:
unique_locality = df['Locality'].unique()
print(unique_locality)
unique_locality1 = df['Locality'].dropna().unique()
print(unique_locality1)

['Waterbury' 'Bridgeport' 'Greenwich' 'Norwalk' nan 'Fairfield'
 'West Hartford' 'Stamford']
['Waterbury' 'Bridgeport' 'Greenwich' 'Norwalk' 'Fairfield'
 'West Hartford' 'Stamford']

In [26]:
missing_columns = df.columns[df.isna().any()].tolist()
print(missing_columns)

['Locality', 'Estimated Value', 'Property', 'carpet_area']

In [33]:
missing_count = df.isna().sum()
max_missing_column = missing_count.idxmax()
print(max_missing_column)

Property

In [34]:
df_clean = df[df.isna().sum(axis=1)<=2]
print(len(df_clean))

9917

In [35]:
df_cleaned = df.dropna()
print(len(df_cleaned))

5449

In [36]:
even_rows = df.iloc[::2]
value = even_rows.iloc[0,3]
print(value)

111440.0

In [37]:
even_rows = df.iloc[::2]
value = even_rows.iloc[332,3]
print(value)

256200.0

In [38]:
odd_rows = df.iloc[1::2]
value2 = odd_rows.iloc[332,3]
print(value2)

352940.0

In [40]:
odd_rows = df.iloc[:, 1::2]
value3 = odd_rows.iloc[100,5]
print(value3)

West

In [ ]:
even = df.iloc[::2, ::2]
val = even.iloc[255, 3]
print(val)

Duplex

In [45]:
even_df = df.iloc[::2, ::2]
check =  even_df.iloc[255, 3]
print(check)

Detached House

In [51]:
recent_yrs = sorted(df['Year'].unique())[-6:]
recent_df = df[df['Year'].isin(recent_yrs)]
count=recent_df.shape[0]
print(count)
print(recent_yrs)

4749
[np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022)]

In [56]:
count_and = df[(df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)].shape[0]
print(count_and)

2730

In [53]:
count_or = df[(df['num_rooms'] == 3) | (df['num_bathrooms'] == 3)].shape[0]
print(count_or)

8591

In [61]:
cond1 = (
    (df['Year'] == 2022) &
    (df['Locality'] == 'Greenwich') &
    (df['num_rooms'] == 3) &
    (df['Face'].isin(['North', 'East']))
)
count_greenwich = df[cond1].shape[0]
print(count_greenwich)

42

In [63]:
df[pd.to_datetime(df['Date']).dt.month == 8].shape

(1050, 12)

In [68]:
avg_price = df.groupby('Locality')['Sale Price'].mean()
highest = avg_price.idxmax()
print(highest)

Greenwich